<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="custom.css">
    
</head>
<body>
    <header class="barra">
        CADASTRO DE PRODUTOS
    </header>

    <div class="cadastro">


        <label for= "produto">Produto:</label>
        <input type="text" class="produto__nome" id="produto" name="produto"><br><br>

        <label for="preco">Preço:</label>
        <input type="number"  class="produto__preco" id="preco" name="preco" step="0.01"><br><br>

        <label for="quantidade">Quantidade:</label>
        <input type="number" class="produto__quantidade" id="quantidade" name="quantidade"><br><br>

        <button type="submit" class="btn__salvar">Salvar</button>


        
    </div>

    
    


 <script src="/script.js"></script>
</body>
</html>